<ul>
  {{#each products}}
    <li>ID: {{this.id}} Titulo: {{this.title}} Descripcion: {{this.description}} Precio: {{this.price}} Imagen: {{this.thumbnail}} Codigo: {{this.code}} Stock: {{this.stock}}</li>
  {{/each}}
</ul>